<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Career Guide Option</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <section class="hero-section">
      <div class="container">
        <div class="banner">
          <img src="../images/logo@2x.png" alt="logo" />
          <br />
          <h3>
            Download Career Guide and understand
            <strong>What's trending</strong> in the field of
          </h3>
          <h2>Artificial Intelligence & Machine Learning</h2>
          <img src="../images/teacher_35j2@2x.png" alt="teacher illustration" />
        </div>
        <div class="form-section">
          <h4>Get your Career Guide today!</h4>
          <input type="text" placeholder="Name" />
          <input type="text" placeholder="Email  Address" />
          <input type="text" placeholder="Mobile Number" />
          <select name="country" id="">
            <option value="" disabled selected hidden
              >Select your country</option
            >
            <option value="India">India</option>
            <option value="US">US</option>
            <option value="England">England</option>
          </select>
          <select name="work-experience" id="">
            <option value="" disabled selected hidden
              >Work experience in years</option
            >
            <option value="0">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <div class="get-updates">
            <input type="checkbox" name="updates" id="updates" />
            <label for="updates"
              >I agree to receive updates from Great Learning</label
            >
          </div>
          <a href="#">Download Now</a>
        </div>
      </div>
    </section>
    <section class="career-hi-light">
      <div class="container">
        <h2>The career guide throws light on key insights such as:</h2>
        <div class="career-points">
          <div class="each-career-point">
            <img src="../images/trend@2x.png" alt="trend" />
            <h4>AI salary trends across the globe</h4>
          </div>
          <div class="each-career-point">
            <img
              src="../images/artificial intelligence@2x.png"
              alt="artificial intelligence"
            />
            <h4>Leading industries for AI & Machine Learning</h4>
          </div>
          <div class="each-career-point">
            <img src="../images/robot@2x.png" alt="robot" />
            <h4>Industry application of AI & Machine Learning</h4>
          </div>
          <div class="each-career-point">
            <img src="../images/salary@2x.png" alt="salary" />
            <h4>Top AI job titles with the highest salaries</h4>
          </div>
          <div class="each-career-point">
            <img src="../images/career@2x.png" alt="career" />
            <h4>
              Career opportunities for AI & Machine Learning professionals
            </h4>
          </div>
          <div class="each-career-point">
            <img src="../images/job@2x.png" alt="job" />
            <h4>Sample job description of AI professionals</h4>
          </div>
        </div>
      </div>
    </section>
    <section class="company-info">
      <div class="container">
        <h3>About Great Learning</h3>
        <p>
          Great Learning is an ed-tech platform with a mission to enable career
          success for professionals in the digital economy. It offers
          industry-relevant programs across a wide set of domains, with over
          14,000+ learners from 68+ countries.
        </p>
      </div>
    </section>
    <section class="details">
      <div class="container">
        <div class="download-guide">
          <h3>Get Your Copy Now</h3>
          <a href="#">Download Career Guide</a>
        </div>
        <h6>
          Call: +1 (512) 647-2647 | Email:
          <span style="color:#005caa;"> aiml.utaustin@greatlearning.in</span> |
          Website:
          <span style="color:#005caa;"
            >mygreatlearning.com/pg-program-artificial-intelligence-course</span
          >
        </h6>
      </div>
    </section>
    <footer>
      <h5>Privacy Policy | Terms of Use</h5>
    </footer>
  </body>
</html>
